<% if current_user %>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-2">
        <div class="container-fluid">
          <div class="row">
              <div class="col-sm-5 profile_pic">
                  <%= gravatar_for(@user,60) %>
              </div>
              <div class="col-sm-7 profile_atrributes">
                  <div class="profile_name"> <strong><%= @user.first_name %>SSS</strong> </div>
                  <div class=""> <%=link_to "View profile", home_index_path %> </div>
                  <div class=""><%= @user.microposts.length %> Microposts</div>
              </div>
          </div>
        </div>
        <div >
            <!-- anything below the profile picture -->
        </div>
      </div>
      <div class="col-sm-9 second_half_page ">
        <%= render 'microposts/micropost_form' %>
        <%= render 'microposts/micropost' %>
      </div>
  </div>
</div>



<% else %>
  <div class="container">
    <div class="jumbotron centralize">
      <h2><strong>Welcome to the new Social Networking Experience</strong></h2>
      <h2><small>Check out the new features</small></h2>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">  Sign up  </a>
      </p>
    </div>

  </div>


<% end %>
