
<div class="container-fluid">
  <div class="micropost ">
    <% @microposts.each do |micropost| %>
    <li  >
      <div class="flex_container">
          <div class="left-half-micropost">
              <%= gravatar_for(micropost.user,40) %>
          </div>
          <div class="right-half-micropost" >
              <div class="user">
                <span>
                    <strong><%= link_to micropost.user.first_name.upcase, account_path(micropost.user), method: :get %></strong>
                </span>
                <span style="color:#627784;">
                    @<%= micropost.user.email.split('@').first %>
                </span>
                <span>
                    . <%= time_ago_in_words(micropost.created_at) %>
                </span>
              </div>

              <div class="title">
                <strong><%= micropost.title %></strong>
              </div>


           </div>

         </div>

         <div class="content">
           <%= micropost.content %>
         </div>

         <div class="tag_names">
           <% if micropost.tags %>
              <% micropost.tags.each do |tag| %>


                <%= link_to '@'+tag.name,tag_path(tag) ,method: :get %>
              <% end %>
           <% end %>
         </div>
         <div class="image">
             <%= image_tag micropost.picture.url, class:"image" if micropost.picture? %>
         </div>



               <% if micropost.likes.where(user:current_user).count == 0 %>


                 <span class="suggestions" ><%= link_to likes_path(micropost,type:'micropost'),method: :post, onclick:"like(this)",:remote => true, id: micropost.id  do%> <i class="far fa-heart"></i> <% end  %> <span><%= micropost.likes.count %></span> </span>
               <% else %>
               <span class="suggestions"><%= link_to like_path(micropost.likes.where(user:current_user).first,type:'micropost'),method: :delete do %><i class="fas fa-heart heart"></i> <% end %> <span><%= micropost.likes.count %></span> </span>
               <% end %>
                   <span class="suggestions" >
                       <a onclick="display_micropost_form(this)" id="<%= micropost.id %>" ><i class="far fa-comment"></i> <%= micropost.comments.where("parent_id IS ?", nil ).count %> </a>

                   </span>
                     <% if current_user.admin? || current_user.id == micropost.user_id %>
                         <span class="suggestions">
                           <%= link_to micropost_path(micropost),  method: :delete, data: { confirm: 'Are you sure?' } do %>
                           <i class="far fa-trash-alt"></i>
                           <% end %>
                         </span>

                         <span class="suggestions">
                           <%= link_to  edit_micropost_path(micropost),  method: :get , remote: true do %>
                              <i class="far fa-edit"></i>
                           <% end %>
                         </span>

                     <% end %>

                     <div class="micropost-<%= micropost.id  %>" style="display:none">
                         <%= render 'comments/comment_box_form', box_for: micropost, type: '' %>

                         <% micropost.comments.where("parent_id IS ?", nil ).each do |comment| %>
                           <ol class=" micropost_group" >
                             <% if comment.deleted %>
                                  <li id="nested_comments"> <strong>UNANIMOUS</strong> <span><%=comment.content%> </span> . <%= time_ago_in_words(comment.created_at) %>   </li>
                             <% else %>
                                  <li id="nested_comments">   <%= gravatar_for(comment.user,20) %> <strong><%= link_to comment.user.first_name.upcase %></strong> <span><%= comment.content %> </span> . <%= time_ago_in_words(comment.created_at) %>
                             <% end %>

                            <div class="flex_container">
                              <% if comment.likes.where(user:current_user).count == 0 %>
                                <span  class="suggestions"><%= link_to likes_path(comment,type:'comment'),method: :post do %> <i class="far fa-heart"></i> <% end  %> <span><%= comment.likes.count %></span> </span>
                              <% else %>
                              <span class="suggestions"><%= link_to like_path(comment.likes.where(user:current_user).first,type:'comment'),method: :delete do %><i class="fas fa-heart heart"></i> <% end %> <span><%= comment.likes.count %></span></span>
                              <% end %>
                              <span  class="suggestions">
                                  <a onclick="display_comment_form(this)" id="<%= comment.id %>" ><i class="far fa-comment"></i> <%= comment.replies.count %> </a>
                              </span>
                              <% if !comment.deleted %>
                                    <% if current_user.admin? || current_user.id == comment.user_id %>
                                        <span class="suggestions">
                                          <%= link_to comment_path(comment,type:'delete'),method: :patch,data: { confirm: 'Are you sure?' } do %>
                                          <i class="far fa-trash-alt"></i>
                                          <% end %>
                                        </span>
                                    <% end %>
                                    <span  class="suggestions">
                                        <a onclick="display_edit_form(this)" id="<%= comment.id %>" ><i class="far fa-edit"></i></a>
                                    </span>

                              <% end %>

                            </div>

                            <div class="comment_<%= comment.id %> comment_edit"  >
                              <%= render 'comments/comment_box_form', box_for: comment,type: 'replies'  %>
                              <%= render 'layouts/nested_comments', comment: comment %>
                            </div>
                            <div class="edit_<%= comment.id %> comment_edit"  >
                                    <%= render 'comments/comment_edit', box_for: comment,type: 'replies'  %>
                                    <%= render 'layouts/nested_comments', comment: comment %>
                            </div>


                           </ol>
                          <% end %>
                     </div>



    </li>

    <% end %>
      <%= will_paginate @microposts %>

</div>
</div>

<script type="text/javascript">


function display_comment_form(element,event)
{
  console.log("comment_"+element.id);
  $(".edit_"+element.id).hide();

$(".comment_"+element.id).slideToggle();
event.preventDefault();

}

function display_edit_form(element,event)
{
  console.log("comment_"+element.id);
  $(".comment_"+element.id).hide();

$(".edit_"+element.id).show();
event.preventDefault();


}

function like_click(element,event)
{
  console.log("comment_"+element.id);
  $("#micropost-"+element.id).hide();

$(".edit_"+element.id).show();
event.preventDefault();


}

function display_micropost_form(element,event) {
  console.log("comment_"+element.id);
  $(".micropost-"+element.id).slideToggle();

event.preventDefault();
}
</script>
