
<h1><%= @tag.name if @tag != nil %></h1>



<div class="container-fluid">
<div class="micropost ">
  <% @microposts.each do |micropost| %>
  <li id="micropost-<%= micropost.id  %>" >
    <div class="row">
        <div class="col-sm-1">
          <%= gravatar_for(micropost.user,50) %>
        </div>
        <div class="col-sm-10" >
              <div class="user"> <strong><%= link_to micropost.user.first_name.upcase, account_path(micropost.user), method: :get %></strong> </div>
              <div class="title"> <strong><%= micropost.title %></strong> </div>
              <div class="content"><%= micropost.content %></div>
              <div class="">
                <%= image_tag micropost.picture.url, :size => "200x200" if micropost.picture? %>
              </div>
              <div class="timestamp">
                <span>Posted <%= time_ago_in_words(micropost.created_at) %> ago.</span>
                <% if current_user.admin? || current_user.id == micropost.user_id %>
                    <span><%= link_to 'Destroy',  micropost_path(micropost),  method: :delete, data: { confirm: 'Are you sure?' } %></span>

                <% end %>

              </div>
              <div class="suggestion_box row">
                <span class="col-sm-4"><%= micropost.likes.count %><%= link_to "Like",likes_path(micropost,type:'micropost'),method: :post %></span>
                <span class="col-sm-4"> <%= link_to "Comment",class:"flip", method: :get %></span>
                <span class="col-sm-4">Share</span>
              </div>
              <%= render 'comments/comment_box_form', box_for: micropost, type: '' %>
              <div class="">
                <% micropost.comments.where("parent_id IS ?", nil ).each do |comment| %>
                  <ol class="">



                    <% if comment.deleted %>
                    <li id="nested_comments"> <strong>UNANIMOUS</strong> <span><%=comment.content%> </span> <span>Posted <%= time_ago_in_words(comment.created_at) %> ago.</span>  </li>
                    <% else %>
                          <li id="nested_comments"> <strong><%= link_to comment.user.first_name.upcase %></strong> <span><%= comment.content %> </span> <span>Posted <%= time_ago_in_words(comment.created_at) %> ago.</span> <%= link_to 'edit' %> <%= link_to 'destroy',comment_path(comment),method: :patch %> <%= link_to 'reply' %> </li>
                    <% end %>

                      <%= comment.content %>

                      <%= render 'comments/comment_box_form', box_for: comment,type: 'replies' %>

                      <div class="suggestion_box row">
                        <span class="col-sm-4"><%= comment.likes.count %><%= link_to "Like",likes_path(comment,type:'comment'),method: :post %></span>
                        <span class="col-sm-4"> <%= link_to "Comment",class:"flip", method: :get %></span>
                        <span class="col-sm-4">Share</span>
                      </div>
                          <%= render 'layouts/nested_comments', comment: comment %>


                  </ol>
                <% end %>
              </div>
  </div>
  </li>
    <% end %>
</div>

</div>
