<h1>Micropost Feeds</h1>





<div class="container-fluid">
<div class="micropost ">
  <% @microposts.each do |micropost| %>
  <li id="micropost-<%= micropost.id  %>" >
    <div class="row">
        <div class="col-sm-1">
          <%= gravatar_for(micropost.user,50) %>
        </div>
        <div class="col-sm-10">
              <div class="user"> <strong><%= link_to micropost.user.first_name.upcase %></strong> </div>
              <div class="content"><%= micropost.content %></div>
              <div class="">
                <%= image_tag micropost.picture.url, :size => "200x200" if micropost.picture? %>
              </div>
              <div class="timestamp">
                <span>Posted <%= time_ago_in_words(micropost.created_at) %> ago.</span>
                <% if current_user.admin? || @user.id == micropost.user_id %>
                    <span><%= link_to 'Destroy',  micropost,  method: :delete, data: { confirm: 'Are you sure?' } %></span>

                <% end %>

              </div>
  </div>
  </li>
    <% end %>
</div>

</div>
<%= will_paginate @microposts %>
