<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Wizzter</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to('Home', home_index_path)  %></li>
      <% if current_user %>
        <li><%= link_to('Edit user', edit_user_registration_path)  %></li>

        <li><%= link_to "Cancel account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %></li>


        <li>
            <input type="text" placeholder="Search" list="states-2" id="search-2"   >
            <input type="radio" name="search_for" value="Person" checked > <label for="">Person</label>
            <input type="radio" name="search_for" value="Tag" > <label for="">Tag</label>
            <input type="radio" name="search_for" value="Post" > <label for="">Post</label>

            <datalist id="states-2">
                <select id='search_options'>
                    <option value="Alabama"></option>

                </select>
            </datalist>
        </li>


        <%= render 'home/search_bar' %>

      <% end %>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        </li>
      <% else %>


        <li>
          <%= link_to('Login', new_user_session_path)  %>
        </li>
      <% end %>

    </ul>
  </div>
</nav>
