<div class="container-fluid left_main">
  <div class=" profile_pic">
      <%= gravatar_for(@user,100) %>
  </div>
  <div class="profile_name"> <strong><%= @user.first_name+' '+ @user.last_name%></strong> </div>
  <div class=""> <strong><%=link_to "View profile", home_index_path %></strong> </div>
  <div class=""> <strong><%= @user.microposts.length %> Microposts</strong> </div>


<% if current_user %>
    <%= render 'layouts/stats' %>
    
    <%= render 'home/modal' if @micropost!=nil %>
<% end %>

<% if current_user != @user %>
  <% if !current_user.following.include? @user %>
     <%= render 'accounts/follow' %>
  <% else %>
    <%= render 'accounts/unfollow' %>
  <% end %>
<% end %>
</div>
