<% if comment.replies.length!=0 %>
  <% comment.replies.each do |reply| %>



  <ol class="comment_groups">
    <% if reply.deleted %>
         <li id="nested_comments"> <strong>UNANIMOUS</strong> <span><%= reply.content%> </span> . <%= time_ago_in_words(reply.created_at) %>   </li>
    <% else %>
         <li id="nested_comments">   <%= gravatar_for(reply.user,20) %> <strong><%= link_to reply.user.first_name.upcase %></strong> <span><%= reply.content %> </span> . <%= time_ago_in_words(reply.created_at) %>
    <% end %>

   <div class="flex_container">


       <% if reply.likes.where(user:current_user).count == 0 %>
         <span  class="suggestions"><%= link_to likes_path(reply,type:'comment'),method: :post do %> <i class="far fa-heart"></i> <% end  %> <span><%= reply.likes.count %></span> </span>
       <% else %>
       <span class="suggestions"><%= link_to like_path(reply.likes.where(user:current_user).first,type:'comment'),method: :delete do %><i class="fas fa-heart heart"></i> <% end %> <span><%= reply.likes.count %></span></span>
       <% end %>

     <span class="suggestions" >
         <a onclick="display_comment_form(this)" id="<%= reply.id %>" ><i class="far fa-comment"></i> <%= reply.replies.count %> </a>
     </span>
     <% if !reply.deleted %>
           <% if current_user.admin? || current_user.id == reply.user_id %>
               <span class="suggestions">
                 <%= link_to comment_path(reply,type:'delete'),method: :patch,data: { confirm: 'Are you sure?' } do %>
                        <i class="far fa-trash-alt"></i>
                 <% end %>
               </span>
           <% end %>
           <span  class="suggestions">
               <a onclick="display_edit_form(this)" id="<%= reply.id %>" ><i class="far fa-edit"></i> </a>
           </span>

     <% end %>

   </div>

   <div class="comment_<%= reply.id %> comment_edit">
     <%= render 'comments/comment_box_form', box_for: reply,type: 'replies'  %>
     <%= render 'layouts/nested_comments', comment: reply %>
   </div>
   <div class="edit_<%= reply.id %> comment_edit">
           <%= render 'comments/comment_edit', box_for: reply,type: 'replies'  %>

   </div>


  </ol>
  <% end %>
<% end %>

<script type="text/javascript">
$( "#comment" ).on( "click", function() {
  $('.replies_box').slideToggle();
});

function display_comment_form(element,event)
{

  console.log("comment_"+element.id);
  $(".edit_"+element.id).hide();

$(".comment_"+element.id).slideToggle();
event.preventDefault();
}

function display_edit_form(element,event)
{
  event.preventDefault();

  console.log("comment_"+element.id);
  $(".comment_"+element.id).hide();

$(".edit_"+element.id).show();

}

</script>
